.core-navbar{
    background-color:#157ed2;
}

.text-header{
    color: white !important
}

.panel-body-fer {
    padding: 2px !important;
    background-color:#157ed2;
}

.flex-container {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}

.flex-container > a {
    font-size: 12px;
    /* font-weight: bold; */
    color: white !important
}

.right-panel-header{
    display: flex;
    gap: 0.5rem;
}
.pull-right {
    float: right !important;
}

.panel-fer-topbar {
    margin-bottom: 5px;
}

.panel-fer {
    margin-bottom: 5px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-outline-primary-fer{
    background-color: white;
    border-color: #2e6da4;
    color: #2e6da4;
}

.btn-outline-primary-fer:hover{
    background-color: #2e6da4;
    color:white;
}

.btn-outline-light-fer{
    background-color: #157ed2;
    /* border-color: #2e6da4; */
    color: white;
}
.btn-outline-light-fer > span{
    color:white;
}


.btn-light-fer{
    background-color: white;
    /* border-color: #2e6da4; */
    color: white;
}
.btn-light-fer > span{
    color: #2e6da4;
}

/* .btn-outline-primary-fer:hover {
    background-color:  #2e6da4;
    color: white;
    border-color: #2e6da4;

} */


/* .btn-primary-fer:hover {
    background-color: white;
    color: #2e6da4;
    border-color: #2e6da4;

} */

.btn-fer {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    /* background-image: none; */
    border: 2px solid ;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    /* border-radius: 4px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    /* font-weight: bold; */
    
}

.right-panel-header{
    border-style: solid;
    border-left-width: 2px;

}

.content-home{
    padding-top: 10rem;


}

.border-vertical {
    border-color: #519cd8 !important;
    padding-left: 2rem;
}

.swiper-slide > img {
    width: 100%;
}

.panel-login{
    margin-right: 1rem;
}

.panel-login>li>a {
    padding-right: 2rem;
}


/* product */
.panel-item-product{
    position: relative;
    top: 0;
    transition: top ease 0.8s;
}

.panel-item-product:hover{
    /* cursor: pointer; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* animation: bergetar 2s; */
    top: -8px;

    box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
  
}

.box-purchase{
    box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 0px 10px 2px rgba(0,0,0,0.31);
}

.box-purchase:hover{
    cursor: pointer;
    box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: #eff9fb;
}

.thumbnail {

    box-shadow: 1px 6px 4px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 1px 6px 4px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 1px 6px 4px 0px rgba(0,0,0,0.09);

}

.checked-rate {
    color: orange;
  }

.btn-rounded{
    border-radius: 10px;
}

.badge-fer{
    background-color: red;
    font-size: 10px;
    padding: 3px 5px !important;
    position: absolute;
    top:10px;
    left:31px;
}

.badge-fer-sm{
    background-color: red;
    font-size: 10px;
    padding: 3px 5px !important;
    position: absolute;
    top:0;
    /* right:0; */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .list-profile{
    background-color: white;
    border: 2px solid; 
    margin-top:1rem; 
    padding:1rem;
    cursor:pointer; 
    border-color:#e0e0e0;

    -webkit-box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
    box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
  }

  .list-profile:hover{
        background-color: #eeeded;
  }

  .content-home{
    background-color: #eeeeeeeb;
  }

  .panel-shadow{
    -webkit-box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
    box-shadow: 6px 7px 8px -2px rgba(0,0,0,0.3);
  }

  .btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 40px;
    border: none;
    z-index: 99;
    /* display: none; */
    /* opacity: 0.7; */
    color: #fff;
    background-color: #157ed2;
    text-align: center;
    opacity: 0;
  }

  .btnScrollToTop:hover{
    opacity: 0.6;
    transition: 'opacity .8s ease-out';
    cursor: pointer;
  }

  .footer-cart{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    z-index: 2;
    align-items: center;
    
  }

.footer-cart > .footer-cart-body{
    /* padding-top: 1rem; */

    /* background-color: #157ed2;
    color: #fff; */
    /* border-top-color: #2e6da4;
    border-top-width: 1px;
    border-top-style: solid; */
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.btn-primary {
    color: #fff;
    background-color: #157ed2;
    border-color: #157ed2;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1020px) {
    .panelInfoHarga{
        position: fixed;
        right: 5rem;
        top: 12rem;
      }
}

